@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #191919;
}

.container{
    display: flex;
    flex-direction: column;
}

.cardPokemon{
    height: 100%;
    padding: 20px;
    background-color: #2D4263;
    border: 5px solid #C84B31;
    border-radius: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.imgPokemon{
    width: 30vh;
    height: 30vh;
}

.namePokemon{
    font-size: 2.5em;
    font-weight: bold;
    color: #ECDBBA;
}

.newPokemon, .MoreInfo{
    width: 100%;
    height: 60px;
    margin: 50px 0 50px 0;
    padding: 10px;
    background-color: #2D4263;
    border: 5px solid #C84B31;
    border-radius: 15px;
    font-size: 1em;
    font-weight: 400;
    color: #ECDBBA;
    cursor: pointer;
}

.MoreInfo{
    width: 400px;
    padding: 12px;
    border: 5px solid #ECDBBA;
    transition: 1s all;
}

.fixed{
    margin: 0 0 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

